.cursorrules
blog-rs
parser
presentation
event.old
grammar
tmux-client*.log
tmux-server*.log
tmux-out*.log
*.o
*~
*.diff
*.patch
*.core
core
tags
.deps/
compat/.dirstamp
aclocal.m4
autom4te.cache/
config.log
config.status
etc/
target
.gdbinit
tmux
Makefile
Makefile.in
configure
tmux.1.*
*.dSYM
cmd-parse.c
fuzz/*-fuzzer
.dirstamp
